* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background: lightgrey;
    width: 550px;
}
i {color:#00004d}
h4 {
    color:#0000b3
}
.image {
    height: 100%;
    width: 300px;
    background: linear-gradient(#4d4d4d, #cccccc);
    text-align: center;
    position: absolute;

}

.infogen {
    color: black;
}
.experiences{
    position:relative;
    left: 500px;

}

.endroites{
    position: relative;
    left: 320px;
}
.Formation{
    left: 100px;
    position:relative;
}
 h4{
     margin: 0;
     padding: 0;
     background-color: #666666;
     text-decoration: none;
     width: 300px;
 }
 h4:hover{
     background-color: black;
     color: #cccccc;
     text-align: center;
 }
h5:hover{
    background-color: #a6a6a6;
    text-align: center;
}

