.page{
    height: 3508px;
    width: 2480px;
}
.dixpourcent{
    height: 10%;
    margin-top: 100px;
}
.rouge-haut{
    height: 67%;
}
.rouge-bas{
    height: 33%;
}
.cinquantepourcent{
    height: 50%;
    margin-top: 100px;
    background-color: black;
}
.quarantepourcent{
    height: 20%;
    margin-top: 10px;
    background-color: coral;
}
.dixpourcent-d{
    height: 10%;
    margin-top: 100px;
    margin-right: 60px;
}
.cinquantepourcent-d{
    height: 50%;
    margin-top: 100px;
    margin-right: 60px;
}
.quarentepourcent-d{
    height: 15%;
    margin-top: 100px;
    margin-right: 100px;
}
.unquart{
    height: 25%;
}
.centpourcent{
    height: 100%;

}
.red{
    background-color:crimson;
}
.blue{
    background-color: aqua;
}
.gray{
    background-color: darkgray;
}
.g


























